.d{
    background-color: rgb(40,40,40);
    color: aliceblue;
}
#task{
    position: relative;
    left: 25%;
    width:50%;
}
#t{
    margin-top: 5%;
}
.comp{
    text-decoration: line-through;
}
.colour{
    color: black;
}



#taskNum{
    display: inline-block;
    margin-top: 20px;
}


@media screen and (min-width:640px) {
    li{
    position: relative;
    left: 23%;
    width:50%;
}
}
